.container {
  display: flex;
  gap: 10px;
  margin: 15px 0 50px;
}

.calendarList {
  border: 3px double #ffffff;
  background-color: #000000;
  padding: 10px;
  width: 90px;
  text-align: center;
  box-sizing: border-box;
}

.calendarItem {
  font-size: 12px;
  color: #888888;
  margin-bottom: 5px;
}

.hoursBase {
  font-size: 18px;
}

.goodHours {
  color: #39ff14;
}

.badHours {
  color: #f55;
}